@import "tailwindcss";

@theme {
  --color-brand-green: #679936;
  --color-brand-dark: #2c2c2a;
  --color-brand-light: #f0f1ec;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  padding: 1rem;
}

@media (max-width: 768px) {
  body {
    padding: 0.5rem;
  }
}